@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins-Regula", Arial;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------*/
body {
  background: #fdfdfb;
  color: #1b1a17;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 767px) {
  body {
    font-size: calc(12px + 6.8 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  body {
    font-size: calc(12px + 4 * (100vw / 1950));
  }
}

body._lock {
  overflow: hidden;
}

a {
  color: #000000;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

.title {
  font-family: Playfair Display;
  font-weight: 400;
  color: #1b1a17;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(26px + 10.2 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(26px + 6 * (100vw / 1950));
  }
}

.btn {
  padding-left: 60px;
  letter-spacing: 0.05em;
  padding: 27px 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .btn {
    font-size: calc(9px + 5.1 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .btn {
    font-size: calc(9px + 3 * (100vw / 1950));
  }
}
.btn:hover {
  background-color: #848076;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  text-transform: uppercase;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14em;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__content-js {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.35s, -webkit-box-shadow 0.35s;
}
.header__wrapper {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0px;
}
.header__logo {
  z-index: 15;
  position: relative;
}
.header__menu {
  z-index: 15;
}
.header__contacts {
  z-index: 15;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts__parent {
  position: relative;
}
.header__contacts-link {
  margin-right: 23px;
}
.header__contacts-link-count {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #e6c8b4;
  border-radius: 100%;
  text-align: center;
  top: -4px;
  right: 14px;
  font-size: 11px;
}

.header__content-js[data-fixed=true] {
  box-shadow: 0 0 3.375rem rgba(0, 0, 0, 0.42);
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 65px;
}
.menu__item:last-child {
  margin-right: 0px;
}

.header__icon-menu {
  display: none;
}

.main-image__wrapper {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-image__product {
  position: relative;
  z-index: -1;
}
.main-image__decor {
  position: absolute;
  bottom: 28px;
  right: 200px;
  z-index: -1;
}
.main-image__price {
  position: absolute;
  top: 150px;
  left: -55px;
  font-family: "Prata";
  font-size: 16px;
}
.main-image__price::after {
  position: absolute;
  top: 8px;
  left: 75px;
  content: "";
  width: 50px;
  height: 1px;
  background: #8b8371;
}
.main-image__size {
  position: absolute;
  bottom: 160px;
  right: -40px;
  font-family: "Prata";
  font-size: 16px;
}
.main-image__size::before {
  position: absolute;
  top: 8px;
  left: -55px;
  content: "";
  width: 50px;
  height: 1px;
  background: #8b8371;
}
.main-image__main-title {
  position: relative;
  z-index: 5;
  font-family: " Playfair Display";
  margin: 0px 0px 16px 0px;
}
@media (max-width: 767px) {
  .main-image__main-title {
    font-size: calc(26px + 32.3 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .main-image__main-title {
    font-size: calc(26px + 19 * (100vw / 1950));
  }
}
.main-image__main-title::before {
  position: absolute;
  top: 15px;
  left: -55px;
  content: "";
  width: 40px;
  height: 1px;
  background: #8b8371;
}
.main-image__main-subtitle {
  font-family: " Playfair Display";
}
@media (max-width: 767px) {
  .main-image__main-subtitle {
    font-size: calc(22px + 13.6 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .main-image__main-subtitle {
    font-size: calc(22px + 8 * (100vw / 1950));
  }
}
.main-image__main-text {
  font-weight: 300;
  line-height: 21px;
  margin: 40px 0px 40px 0px;
  text-align: left;
  color: rgba(27, 26, 23, 0.82);
}
.main-image__main-btn {
  background-color: #444240;
}

.catalog__title {
  text-align: center;
  margin-bottom: 10px;
}
.catalog__total {
  font-size: 16px;
  position: relative;
  font-weight: 500;
  display: block;
  text-align: right;
  margin-bottom: 35px;
}
.catalog__total::after {
  content: "";
  position: absolute;
  bottom: -11px;
  right: 0;
  width: 100px;
  height: 2px;
  background-color: #c4c0b6;
}
.catalog__models {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 85px;
}

.model {
  display: flex;
  flex-direction: column;
}
.model h4 {
  font-family: Playfair Display;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .model h4 {
    font-size: calc(12px + 3.4 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .model h4 {
    font-size: calc(12px + 2 * (100vw / 1950));
  }
}
.model p {
  font-family: Prata;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .model p {
    font-size: calc(10px + 3.4 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .model p {
    font-size: calc(10px + 2 * (100vw / 1950));
  }
}
.model img {
  width: 100%;
  border: 1px solid #e2d0c4;
  border-radius: 100%;
  margin-bottom: 20px;
}
.model__total {
  position: relative;
  display: block;
  font-family: Playfair Display;
  padding: 0px 0px 0px 50px;
}
@media (max-width: 767px) {
  .model__total {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .model__total {
    font-size: calc(14px + 2 * (100vw / 1950));
  }
}
.model__total::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 30px;
  height: 2px;
  background: #8b8371;
}

.quality {
  background: linear-gradient(270deg, rgb(253, 253, 251) 62%, rgb(247, 245, 239) 62%);
  position: relative;
  overflow: hidden;
}
.quality__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 52px 0px;
}
.quality__image img {
  width: 100%;
  height: 100%;
}
.quality__content {
  max-width: 460px;
  padding: 0px 20px 0px 70px;
  overflow: hidden;
}
.quality__title {
  margin-bottom: 40px;
}
.quality__text {
  line-height: 24px;
  margin-bottom: 45px;
}
.quality__btn {
  background: #d4b098;
}
.quality__decor {
  position: absolute;
  width: 365.16px;
  height: 365.16px;
  border: 1px solid #d4b098;
  border-radius: 100%;
  top: -150px;
  right: -150px;
}
.quality__decor_big {
  border: 1px solid #d4b098;
  border-radius: 100%;
  position: absolute;
  width: 744.38px;
  height: 744.38px;
  top: 30px;
  right: -470px;
}

.social__wrapper {
  display: flex;
  padding: 80px 0px;
}
.social__content {
  padding: 70px 30px 50px 30px;
}
.social__title {
  margin-bottom: 40px;
}
.social__text {
  line-height: 27.19px;
  margin-bottom: 80px;
}
.social__icons {
  display: flex;
}
.social__icons li {
  margin-right: 18px;
}
.social__icons li:last-child {
  margin-right: 0;
}
.social__picture {
  display: grid;
  grid-template-columns: 240px 378px;
  grid-template-rows: 228px 222px;
  gap: 10px;
}
.social__picture img {
  object-fit: contain;
}

.footer {
  background-color: #444240;
  color: #fff;
  overflow: hidden;
}
.footerli,
.footer a {
  color: rgba(255, 255, 255, 0.7490196078);
}
.footer__wrapper {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  grid-gap: 1.25rem;
  padding: 70px 0px;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__item {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .footer__item {
    font-size: calc(10px + 3.4 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .footer__item {
    font-size: calc(10px + 2 * (100vw / 1950));
  }
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__category-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 26px;
}

@media (max-width: 767px) {
  .header__icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon-menu::after, .header__icon-menu::before {
    content: "";
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #0a0000;
  }
  .header__icon-menu::after {
    bottom: 0;
  }
  .header__icon-menu::before {
    top: 0;
  }
  .header__icon-menu span {
    content: "";
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
    top: 50%;
    transform: translate(0px, -50%);
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: rgb(252, 252, 252);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu._active {
    z-index: -1;
    left: 0;
  }
  .header__icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__icon-menu._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon-menu._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__list {
    display: block;
  }
  .menu__list > li {
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin: 0;
  }
  .menu__item {
    margin-right: 65px;
  }
  .menu__item:last-child {
    margin-right: 0px;
  }
  .main-image__wrapper {
    justify-content: center;
  }
  .main-image__product {
    display: none;
  }
  .main-image__desc {
    padding: 60px;
  }
  .catalog__models {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .model {
    max-width: 250px;
  }
  .model img {
    width: 100%;
    border: 1px solid #e2d0c4;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  .quality {
    background: linear-gradient(270deg, rgb(253, 253, 251) 62%, rgb(247, 245, 239) 62%);
  }
  .quality__wrapper {
    flex-direction: column-reverse;
  }
  .quality__content {
    max-width: 100%;
    position: relative;
    padding: 70px 30px 50px 30px;
  }
  .social__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .social__picture {
    display: grid;
    grid-template-columns: 240px 378px;
    grid-template-rows: 228px 222px;
    gap: 10px;
  }
  .footer__wrapper {
    grid-template: auto/repeat(2, 1fr);
    padding: 40px 0px;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__category {
    margin: 0 auto;
  }
  .footer__item {
    text-align: center;
  }
  .footer__category-title {
    text-align: center;
  }
}
@media (max-width: 620px) {
  .social__picture {
    display: flex;
    flex-direction: column;
  }
  .social__picture img {
    width: 100%;
    height: auto;
  }
}